server:
  port: 8087
#  servlet:
#    context-path: /ai-feedback

spring:
  application:
    name: ai-feedback-service

  datasource:
    url: jdbc:postgresql://localhost:5432/defty_db
    username: defty_user
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: ai-feedback-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

logging:
  level:
    # Tắt bớt log không cần thiết
    org.apache.kafka: ERROR
    org.apache.kafka.clients.producer.ProducerConfig: OFF