services:
  # mongodb:
  #   image: mongo:latest
  #   container_name: mongodb_db
  #   ports:
  #     - "27017:27017"
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: admin
  #     MONGO_INITDB_ROOT_PASSWORD: password
  #     TZ: Asia/Ho_Chi_Minh
  #   volumes:
  #     - mongodb_data:/data/db
  #   restart: unless-stopped
  #   networks:
  #     - app-network
  #   healthcheck:
  #     test: [ "CMD", "sh", "-c", "echo 'db.runCommand(\"ping\").ok' | mongosh mongodb:27017/iot_gateway --quiet" ]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #     start_period: 20s

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper_broker
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    restart: unless-stopped
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka_broker
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      - zookeeper
    restart: unless-stopped
    networks:
      - app-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local-kafka
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    depends_on:
      - kafka
    restart: unless-stopped
    networks:
      - app-network

#  dbgate:
#    image: dbgate/dbgate:latest
#    container_name: dbgate_ui
#    ports:
#      - "3001:3000"
#    environment:
#      DG_AUTH_ENABLED: "false"
#    restart: unless-stopped
#    networks:
#      - app-network

  plantuml-server:
    image: plantuml/plantuml-server
    container_name: plantuml_server
    ports:
      - "8091:8080"
    restart: unless-stopped
    networks:
      - app-network

  # postgres:
  #   image: postgres:latest
  #   container_name: postgres_db
  #   ports:
  #     - "5432:5432"
  #   environment:
  #     POSTGRES_USER: defty_user
  #     POSTGRES_PASSWORD: 123456
  #     POSTGRES_DB: defty_db
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   restart: unless-stopped
  #   networks:
  #     - app-network
  #
  # mysql:
  #   image: mysql:8.0
  #   container_name: mysql-db
  #   ports:
  #     - "3306:3306"
  #   restart: on-failure
  #   environment:
  #     MYSQL_ROOT_PASSWORD: 123456
  #   volumes:
  #     - mysql-data:/var/lib/mysql

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_vector_db
    ports:
      - "6333:6333" # API
      - "6334:6334" # gRPC
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"
    volumes:
      - redis_cache:/data
    restart: unless-stopped
    networks:
      - app-network

volumes:
  mongodb_data:
  postgres_data:
  mysql-data:
  redis_cache:
  qdrant_data:

networks:
  app-network:
    driver: bridge