server:
  port: 8081
  servlet:
    context-path: /identity

spring:
  application:
    name: identity-service

  datasource:
    url: jdbc:mysql://auth-service-nguyenvietvan223-40d2.b.aivencloud.com:17716/auth-service?createDatabaseIfNotExist=true
    username: avnadmin
    password: AVNS_nUCWJcWtQzQz48Qx-Q5

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true
jwt:
  expiration: 60  # 1m
  expiration-refresh-token: 86400  # 1 day
  secret: 5d52QxETMTxUyZ2VjgrTMLymN7fLp/++mWpSdfzPrdrPTussUSzOtsotKyl8wEoo

eureka:
  #  instance:
  #    prefer-ip-address: true
  #    ip-address: ${HOST_IP_ADDRESS}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka