server:
  port: 8888

app:
  api-prefix: /api/v1

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: http://localhost:8081
          predicates:
            - Path=${app.api-prefix}/identity/**
          filters:
            - StripPrefix=2

        - id: content-service
          uri: http://localhost:8083
          predicates:
            - Path=${app.api-prefix}/content/**
          filters:
            - StripPrefix=2

eureka:
#  instance:
#    prefer-ip-address: true
#    ip-address: ${HOST_IP_ADDRESS}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka