server:
  port: 8083
  servlet:
    context-path: /content

spring:
  application:
    name: content-service

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  datasource:
    url: jdbc:mysql://auth-service-nguyenvietvan223-40d2.b.aivencloud.com:17716/content-service?createDatabaseIfNotExist=true
    username: avnadmin
    password: AVNS_nUCWJcWtQzQz48Qx-Q5

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true

cloudinary:
  url: cloudinary://783863892414578:JMz_uou3MpoiriodqOSosDf4oWo@dnsvkorwf
