server:
  port: 8083
  servlet:
    context-path: /content

spring:
  application:
    name: content-service

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  datasource:
    url: jdbc:mysql://localhost:3306/content_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true

cloudinary:
  url: cloudinary://783863892414578:JMz_uou3MpoiriodqOSosDf4oWo@dnsvkorwf
