server:
  port: 8086
#  servlet:
#    context-path: /submission

api:
  prefix: /api/v1

spring:
  application:
    name: submission-service

  datasource:
    url: jdbc:mysql://localhost:3306/submission-service?createDatabaseIfNotExist=true
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: submission-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer


PLANTUML_SERVER_URL: http://localhost:8091/svg

eureka:
  #  instance:
  #    prefer-ip-address: true
  #    ip-address: ${HOST_IP_ADDRESS}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka